/.vs
/DMML
/x64
/DMML.sln
/DMML.vcxproj
/DMML.vcxproj.filters
/DMML.vcxproj.user
/DMML.APS
/imgui.ini

/other_implements/first_imp.cpp
/other_implements/first_imp.h

/src/iterative/main.cpp
/src/CUDA/.vs
/src/CUDA/CUDA
/src/CUDA/x64
/src/CUDA/CUDA.sln
/src/CUDA/CUDA.vcxproj
/src/CUDA/CUDA.vcxproj.user
/src/CUDA/main.cu

/dmml_viewer/assets
/dmml_viewer/dmml_viewer_vulk*
/dmml_viewer/ImGui/im_gui_impl_vulkan*